.hipertensioscanLogo {
  width: 5em;
  height: 5em;
  max-height: 17vh;
  margin-right: 1.5em;
}



@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.fullBoxApp {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(240, 244, 245, 1) 40%);
  font-size: 1em;
  font-weight: 300;
}

.headerContainer {
  display: flex;
  align-items: center;
  height: 17vh;
}

.headerTitleContainer {
  color: #2e2e2e;
  display: flex;
  flex: 1;
  justify-content: left;
  font-weight: 400;
  font-size: 1.5em;
}

/* Mobile */
@media (min-width: 0px) and (max-width: 1120px) {

  .hipertensioscanLogo {
    width: 4.5em;
    height: 4.5em;
    max-height: 5em;
  }

  .headerContainer {
    height: 10vh;
  }

  .fullBoxApp {
    font-size: 0.6em;
    flex: 1;
  }
}